<h1>Acheter Ma Yummy Box <%= @order.yummybox_sku %></h1>
<%= form_tag order_payments_path(@order) do %>
  <article>
    <label class="amount">
      <span>Amount: <%= humanized_money_with_symbol(@order.amount) %></span>
    </label>
  </article>


  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="Ma Yummy Box"
    data-description="Commande <%= @order.yummybox_sku %>"
    data-amount="<%= @order.amount_cents %>"
    data-currency="EUR"></script>

<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>
</div>